body {
    font-family: fantasy, sans-serif;
    font-size: 10px;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

/*input, textarea, select {
   border: 1px solid #555;
   padding: 0.5em;
   font-size: 15px;
   line-height: 1.2em;
   width: 80%;
   background: #fff;
   background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
   -webkit-appearance: none;
   -webkit-box-shadow: 1px 1px 1px #fff;
   -webkit-border-radius: 0.5em;
 }
*/

.div-Wrapper {
	width: 1024px;
	height: 768px;
    margin: 0px;
    padding: 0px;
}

.div-menuBar {
	border: 1px solid white;
	width: 1024px;
	height: 49px;
    margin: 0px;
    padding: 0px;
/*	padding-left: 0px; 
	padding-top: 0px; 
*/}

.div-contentContainer {
	border: 1px solid white;
}

.div-videoArea {
	float: left;
	border: 1px solid gray;
	width: 800px;
	height:531px;
}

.style-videoArea {
	width:800px;
	height:531px;
}

.div-posterArea {
	float: left;
	background: url('../img/ExoticSurgeries.png') no-repeat top left;
	margin-top: -532px;
	margin-left: 2px;
	width: 800px;
	height:531px;
}

.div-posterAreaCredits {
	float: left;
	background: url('../img/credits.png') no-repeat top left;
	margin-top: -532px;
	margin-left: 2px;
	width: 800px;
	height:531px;
}


.style-textAreaSide {
	width: 208px;
	height: 522px;
	background-color: gray;
	border:1px solid gray;
	overflow-y: hidden;;
	overflow-x: hidden;
	font-family: fantasy;
	font-size: 14pt; 
	color: white; 
	padding: 5px;
}

.div-textAreaBottom {
	width: 1014px;
	height: 180px;
	background-color: white;
	border:1px solid gray;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: fantasy;
	font-size: 14pt; 
	padding: 5px;
/*    background:url('../img/ExoticSurgeries.png') no-repeat top left;
    background-size: 465px 308px;
*/}

.style-textAreaSmall {
	font-size: 12pt;
}
